html{
  scroll-behavior: smooth;
}
.App {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
  animation-name: render;
  animation-duration: 0.5s;
  
}

@keyframes render {
  from {transform:scale(0.1)}
  to {transform:scale(1)}
}

