.App {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;

}
html{
  scroll-behavior: smooth;
}

